{% extends "base.html" %} {% block main %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Welcome</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="glyphicon glyphicon-user"></span> Please sign in</h3>
                </div>
                <div class="panel-body">
                    <form action="/signin" method="post">
                        <div class="form-group">
                            <label>UserName</label>
                            <input type="text" name="username" class="form-control" placeholder="username"
                                value="{{ username }}">
                            <label>password</label>
                            <input type="password" name="pwd" class="form-control">
                            <p class="help-block">Your user name</p>
                        </div>
                        <button type="submit" class="btn btn-primary">Sign In</button>
                    </form>
                    <a href="/register">register</a>
                    <div class="alert alert-danger" style="margin-top: 10px">please signin
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}